/*
------------------------------------------------------------------------
Theme Name:    Cap_child
Theme URI:     http://www.nattywp.com/
Description:   Cap theme by NattyWP. <a href="admin.php?page=nattywp_home">Configure</a> your theme. Visit our <a href="http://www.nattywp.com/forum" title="NattyWP Forum">NattyWP Community Forum</a> and <a href="http://support.nattywp.com">Help Desk</a>!
Author:        NattyWP
Author URI:    http://www.nattywp.com/
Template:	   Cap
Version:       1.0
------------------------------------------------------------------------

Support:       NattyWP, contactus@nattywp.com
Updated:       March 10 2010
Copyright:     (c) 2009 NattyWP

All rights reserved.
*/

@import url("../Cap/style.css");

.singlepage .post .title {
position:relative;
width:auto;
}

.artist p {
font-size: 25px;
line-height: 27px;  
font-style: italic; 
font-family: Georgia,"Times New Roman",Times,serif;
}

.galleryItem .galleryCaption {
padding: 10px 15px 0px 30px;
}