/*
 Theme Name:   BuzzBlog Child
 Theme URI:    http://hercules-design.com
 Description:  BuzzBlog Child Theme
 Author:       Hercules Design
 Author URI:   http://hercules-design.com
 Template:     BUZZBLOG-theme
 Version:      1.2
 Tags:         awesome, beautiful, blog, design, facebook, flickr, instagram, minimalist, personal, responsive, clean, simple, twitter, visual, widget, wordpress
 Text Domain:  BUZZBLOG-theme-child
*/

@import url("../BUZZBLOG-theme/style.css");

.logo {
    margin: 50px auto 30px auto !important; 
}

.cbp-af-header-shrink .logo {
    margin: 10px auto !important;
}

.logo_h__txt, .logo_link{
    color: #1C1818;
    font-family: 'Bilbo Swash Caps', cursive !important;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.logo_h__txt span, .logo_link span{
    color: #1C1818;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
}

.nav__primary {
    background-color: #fff !important;
}

.format-quote {
    padding: 50px 50px 0 50px; 
    border-left: 12px solid #DDAAB5;
}
.menu-wrap {
   margin-bottom: 20px;  
}
.home-menu-grid {
    margin: 0px 0px 80px 0px!important;
    padding: 0px!important;
}

.home-menu-grid a{
 font-size: 18px; 
color: #7E7D7D; 
}

.home-menu-grid li{
    width: calc(25% - 22px);
    margin: 6px;
    float: left;
    padding: 20px 5px 5px 5px;
    background: #fff;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.05);
    list-style-type: none;
    text-align: center;
}
.home-menu-grid li img {
    padding: 5%;
    width: 60%;
}

a.zilla-likes:before, .meta-space a.zilla-likes:before {
    color: #DEAA85;
}

#pinterest-widget span {
    width:100%;
    overflow: hidden;
}
#pinterest-widget span span {
    width:95%;
}

.featured_post img{
    float: left;
    margin: 0 40px 20px 0; 
    width: 45%; 
}

.handwrite{
font-family: 'Bilbo Swash Caps', cursive;
 font-size: 30px; 
 color: #7E7D7D;
}

@media (max-width: 767px) {
    .home-menu-grid li{
        width: calc(50% - 22px);
    }
}